@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --color-zinc-50: #fafafa;
    --color-zinc-100: #f5f5f5;
    --color-zinc-200: #e5e5e5;
    --color-zinc-300: #d4d4d4;
    --color-zinc-400: #a3a3a3;
    --color-zinc-500: #737373;
    --color-zinc-600: #525252;
    --color-zinc-700: #404040;
    --color-zinc-800: #262626;
    --color-zinc-900: #171717;
    --color-zinc-950: #0a0a0a;

    --color-accent: var(--color-neutral-800);
    --color-accent-content: var(--color-neutral-800);
    --color-accent-foreground: var(--color-white);
}

@layer theme {
    .dark {
        --color-accent: var(--color-white);
        --color-accent-content: var(--color-white);
        --color-accent-foreground: var(--color-neutral-800);
    }
}

@layer base {

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

[data-flux-field]:not(ui-radio, ui-checkbox) {
    @apply grid gap-2;
}

[data-flux-label] {
    @apply  !mb-0 !leading-tight;
}

input:focus[data-flux-control],
textarea:focus[data-flux-control],
select:focus[data-flux-control] {
    @apply outline-hidden ring-2 ring-accent ring-offset-2 ring-offset-accent-foreground;
}

/* \[:where(&)\]:size-4 {
    @apply size-4;
} */

label{
    font-size: 14px;
}

.ts-control{
    border-radius: 9px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    background-color: #ffffff1f !important;
    border: .8px rgba(155, 155, 155, 0.453) solid !important;
    color: white !important;
}

.ts-control input{
    color:white !important;
}


.ts-wrapper {
    max-width: 330px !important;
}

.ts-dropdown {
    max-width: 100% !important;
    width: 100% !important;
    left: 0 !important;
    right: auto !important;
    min-width: unset !important;
}

/* Untuk Choices.js */
.choices__list--dropdown {
    max-width: 100% !important;
    width: 100% !important;
    left: 0 !important;
    right: auto !important;
}

/* Di dalam modal Flux */
[x-ui\.modal-action] .ts-dropdown,
[x-ui\.modal-action] .choices__list--dropdown,
flux-modal .ts-dropdown,
flux-modal .choices__list--dropdown {
    max-width: calc(100vw - 2rem) !important;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    border: 1px solid rgb(209 213 219 / 0.5);
    border-radius: 0.5rem;
}
